
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

body {
    background: Linear-gradient(336deg, rgba(12, 12, 12, 0.8), rgb(77, 12, 12) 70.71%);
}

p {
    font-size: 30px;
    font-family: 'Bitter', serif;
    color: white;
}
.x {
    display: inline;
    font-size: 30px;
    font-family: 'Bitter', serif;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 14, 14);

}
.image {
    width: 100%;
    height: 800px; 
    
}
.img {
    margin-left: 20px;
    margin-right: 20px;
}
#viewmore {
    color: rgb(65, 161, 190);
    font-size: 20px;
}